<h3> Set up your health insurance account information here! </h3>

<h3><%= link_to 'New Medical Account', new_account_path(account_type: 'medical') %></h3>
<h3><%= link_to 'New Dental Account', new_account_path(account_type: 'dental') %></h3>
<h3><%= link_to 'New Vision Account', new_account_path(account_type: 'vision') %></h3>
<h3><%= link_to 'New HRA Account', new_account_path(account_type: 'HRA') %></h3>